.header {
    background-color: #9d67d0;
    margin: 0px;
}

footer {
    background-color: #d1c4E9;
    margin: 0px;
    padding: 20px 0;
}

.body {
    margin: 50px 0px 0px 0px;
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}